<!DOCTYPE html>
<html>
  <head>
    <title>Wikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar class="navbar navbar-default ">
     <p> <%= link_to 'Wikinimous', root_path %> </p>
     <p> <%= link_to "New Article", new_article_path%> </p>
    </navbar>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
        <%= yield %>
     </div>
      </div>
    </div>
  </body>
</html>
